{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Shop Routes</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Shop Routes</a></li>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-shop"></i> Shop List
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card w-50 mx-auto">
                <div class="card-body">
                    <form action="{% url 'shoproute_list' %}" method="GET">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Select a route:</label>
                                <select class="form-control" name="route_id" required>
                                    <option value="">-- Select a route --</option>
                                    {% for i in routes %}
                                        <option value="{{ i.route_id }}" {% if selected_route and i.route_id == selected_route.route_id %}selected{% endif %}>{{ i.route_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Show Shop</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% if selected_route %}

<div class="content container-fluid">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <h3 class="page-title">Selected Route : {{ selected_route.route_name }}</h3>
                            <h6>Search Found :  {{shopCount}}</h6>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="table_id" class="table table-hover table-center mb-0  no-footer"
                                        id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="ID: activate to sort column descending"
                                                    style="width: 50.5px;">Sr.No</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Name: activate to sort column ascending"
                                                    style="width: 13.4px;">Code</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Class: activate to sort column ascending"
                                                    style="width: 140.7px;">Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 100.025px;">Owner</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 56.025px;">Location</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 36.025px;">Mobile No</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 56.025px;">Alternate No</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">Status</th>
                                                
                                            </tr>
                                        </thead>
                                       
                                        <tbody>

                                            {% for shop in shops %}

                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{{forloop.counter}}</td>

                                                <td>{{ shop.shop_id.shop_code }}</td>
                                                <td>{{ shop.shop_id.shop_name }}</td>
                                                <td>{{ shop.shop_id.shop_ownerId}}</td>
                                                <td><button type="button" class="btn btn-primary btn-sm"><i class="fa-solid fa-location-dot"></i></button></td>
                                                <td>{{ shop.shop_id.shop_mobileNo}}</td>
                                                <td>{{ shop.shop_id.shop_alternateNo}}</td>
                                                <td>
                                                    {% if  shop.shop_id.shop_status == "Active" %}

                                                    <button type="button" class="btn btn-success btn-sm"><i
                                                            class="fa-solid fa-shop fa-lg"></i></button>
                                                    {% else %}
                                                    <button type="button" class="btn btn-danger btn-sm"> <i
                                                            class="fa-solid fa-shop-slash fa-lg "></i></button>

                                                    {% endif %}
                                                </td>
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% elif selected_shops %}
<div class="content container-fluid">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <h3 class="page-title">Selected Shop </h3>
                          
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="table_id" class="table table-hover table-center mb-0  no-footer"
                                        id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="ID: activate to sort column descending"
                                                    style="width: 50.5px;">Sr.No</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Name: activate to sort column ascending"
                                                    style="width: 13.4px;">ID</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Class: activate to sort column ascending"
                                                    style="width: 140.7px;">Shop Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 100.025px;">Owner Name</th>
                                               
                                            </tr>
                                        </thead>
                                       
                                        <tbody>

                                            {% for selected_shop in selected_shops  %}

                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{{forloop.counter}}</td>

                                                <td>{{ selected_shop.shop_code }}</td>
                                                <td>{{ selected_shop.shop_name }}</td>
                                                <td>{{ selected_shop.shop_ownerId}}</td>
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}





<!--Leave Apply History Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Shop List</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="selectedShopsForm" method="GET" action="{% url 'shoproute_list' %}">
                           
                            <table id="table_id" class="table table-hover table-center mb-0 no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 50.5px;"></th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 13.4px;">Code</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Class: activate to sort column ascending" style="width: 140.7px;">Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 100.025px;">Owner</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 56.025px;">Location</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 36.025px;">Mobile No</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 56.025px;">Alternate No</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 20.025px;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shop in shopsList %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1" >
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="selected_shops" value="{{ shop.shop_id }}" id="shop_{{ shop.shop_id }}">
                                            </div>
                                        </td>
                                        <td>{{ shop.shop_code }}</td>
                                        <td>{{ shop.shop_name }}</td>
                                        <td>{{ shop.shop_ownerId }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm">
                                                <i class="fa-solid fa-location-dot"></i>
                                            </button>
                                        </td>
                                        <td>{{ shop.shop_mobileNo }}</td>
                                        <td>{{ shop.shop_alternateNo }}</td>
                                        <td>
                                            {% if shop.shop_status == "Active" %}
                                                <button type="button" class="btn btn-success btn-sm">
                                                    <i class="fa-solid fa-shop fa-lg"></i>
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-danger btn-sm">
                                                    <i class="fa-solid fa-shop-slash fa-lg"></i>
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Selected Shops</button>
              </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}