{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Asset Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Asset</a></li>
                    <li class="breadcrumb-item active">Asset Details</li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'asset_update' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Asset Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Asset ID</label>
                                    <input type="text" class="form-control" name="asset_id" value="{{assetData.asset_id}}" readonly>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Asset Name</label>
                                    <input type="text" class="form-control" name="asset_name" value="{{assetData.asset_name}}">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Asset Types</label>
                                    <select class="form-control form-select" name="asset_types" id="asset_types" required>
                                        {% for asset in assetTypes %}
                                            <option value="{{ asset }}" {% if assetData.asset_types == asset %} selected {% endif %}>
                                                {{ asset }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6" id="slowly_finished_product_div" style="display: {% if assetData.asset_types == 'Slowly_Finished_Product' %}block{% else %}none{% endif %}">
                                <div class="form-group">
                                    <label>Slowly Finished Products</label>
                                    <select class="form-control form-select" name="slowly_finished_product" required>
                                        {% for product in slowly_finished_product_types %}
                                            <option value="{{ product }}" {% if assetData.slowly_finished_product == product %} selected {% endif %}>
                                                {{ product }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6" id="long_lasting_product_div" style="display: {% if assetData.asset_types == 'Long_Lasting_Products' %}block{% else %}none{% endif %}">
                                <div class="form-group">
                                    <label>Long Lasting Products</label>
                                    <select class="form-control form-select" name="long_lasting_products" required>
                                        {% for product in long_lasting_products_types %}
                                            <option value="{{ product }}" {% if assetData.long_lasting_products == product %} selected {% endif %}>
                                                {{ product }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update Details</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var assetTypesSelect = document.getElementById('asset_types');
        var slowlyFinishedProductDiv = document.getElementById('slowly_finished_product_div');
        var longLastingProductDiv = document.getElementById('long_lasting_product_div');

        assetTypesSelect.addEventListener('change', function () {
            if (this.value === 'Slowly_Finished_Product') {
                slowlyFinishedProductDiv.style.display = 'block';
                longLastingProductDiv.style.display = 'none';
            } else if (this.value === 'Long_Lasting_Products') {
                slowlyFinishedProductDiv.style.display = 'none';
                longLastingProductDiv.style.display = 'block';
            } else {
                slowlyFinishedProductDiv.style.display = 'none';
                longLastingProductDiv.style.display = 'none';
            }
        });

        // Trigger change event on page load to initially show/hide based on the selected asset type
        var event = new Event('change');
        assetTypesSelect.dispatchEvent(event);
    });
</script>

{% endblock content %}