{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Asset Detail</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Asset</a></li>
                    <li class="breadcrumb-item active">Add Asset Detail</li>
                </ul>
            </div>
        </div>
    </div>

    {% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'asset_add' %}" method="POST" onsubmit="return validateForm()">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Asset Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-3">
                                    <label class="mb-2">Asset Name</label>
                                    <input type="text" class="form-control" name="asset_name" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <label>Asset Types</label>
                                <div class="input-group">
                                    <select class="form-control form-select" placeholder=""
                                            name="asset_types" required>
                                        <option value="" disabled selected>------- Select Asset Type -------</option>
                                        <option value="Slowly Finished Product">Slowly Finished Product</option>
                                        <option value="Long Lasting Products">Long Lasting Products</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary"> Add Details </button>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="alert alert-danger" id="error-message" role="alert" style="display: none;">
                                    Please fill out all required fields.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
