{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Product Issue</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Product Issue</a></li>
                    <li class="breadcrumb-item active">Product Issue Add</li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'product_issue_add' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-12">
                                <h5 class="form-title"><span>Product Issue Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Issue Date</label>
                                    <input type="date" class="form-control" name="issue_date" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Name</label>
                                    <select class="form-control form-select" name="shop_id" required>
                                        <option value="" disabled selected hidden>------- Select Shop Name -------</option>
                                        {% for i in ShopData %}
                                            <option value="{{i.shop_id}}">{{ i.shop_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Paper Rate</label>
                                    <input type="text" class="form-control" name="paper_rate" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Boiler Size</label>
                                    <input type="text" class="form-control" name="boiler_size" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Issue Birds</label>
                                    <input type="text" class="form-control" name="issue_birds" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Birds Weight</label>
                                    <input type="text" class="form-control" name="birds_weight" required>
                                </div>
                            </div>
                          
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Daily Rate</label>
                                    <input type="text" class="form-control" name="daily_rate" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Issue Amount</label>
                                    <input type="text" class="form-control" name="issue_amount" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Owner Name</label>
                                    <select class="form-control form-select" name="vehicle_id" required>
                                        <option value="" disabled selected hidden>------- Select Owner Vehicle -------</option>
                                        {% for i in vehicleData %}
                                            <option value="{{i.vehicle_id}}">{{ i.owner_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Driver Name</label>
                                    <select class="form-control form-select" name="driver_id" required>
                                        <option value="" disabled selected hidden>------- Select Driver Name -------</option>
                                        {% for i in userModelData %}
                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Entry Source</label>
                                    <input type="text" class="form-control" name="entry_source" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Latitude</label>
                                    <input type="text" class="form-control" name="latitude" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Longitude</label>
                                    <input type="text" class="form-control" name="longitude" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product Type</label>
                                    <select class="form-control form-select" name="product_type_id" required>
                                        <option value="" disabled selected hidden>------- Select Product Type -------</option>
                                        {% for i in productTypesData %}
                                            <option value="{{i.product_type_id}}">{{ i.product_type }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit Details</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}