{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Product Add </h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Product</a></li>
                    <li class="breadcrumb-item active">Add </li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'product_add' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Product Details</span></h5>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control" name="product_name" placeholder="Enter Product Name" required>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product Type</label>
                                    <select class="form-control form-select" name="product_typeId" required>
                                        <option>------- Select Product Type -------</option>
                                        {% for i in productTypeData %}
                                            <option value="{{i.product_type_id}}">{{ i.product_type }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product Category</label>
                                    <select class="form-control form-select" name="product_categoryId" required>
                                        <option>------- Select Product Category -------</option>
                                        {% for i in ProductCategoriesData %}
                                            <option value="{{i.product_category_id}}">{{ i.product_category }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product value</label>
                                    <select class="form-control form-select" placeholder="Enter Shop Area" name="product_value" required>
                                        <option>------- Select Product value -------</option>
                                        <option value="Weight">Weight</option>
                                        <option value="Quantity">Quantity</option>
                                        <option value="Packet">Packet</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add Product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}