{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Received Product</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Product Received</a></li>
                    <li class="breadcrumb-item active">Product Received Edit</li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'product_received_update' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Product Received Details</span></h5>
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product Received Id</label>
                                    <input type="text" class="form-control" name="product_received_id" value="{{productRecieveDataEdit.product_record_id}}" readonly>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Received Date</label>
                                    <input type="date" class="form-control" name="received_date" value="{% if productRecieveDataEdit.recieved_date %}{{ productRecieveDataEdit.recieved_date|date:'Y-m-d' }}{% endif %}" required>
                                </div>
                            </div>

                          
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vender Name</label>
                                    <select class="form-control form-select" name="vendor_id"  required>
                                        <option value="" disabled  >------- Select Vender Name -------</option>
                                        <option value="{{productRecieveDataEdit.vendorId.vendor_id}}">{{productRecieveDataEdit.vendorId}}</option>
                                        {% for i in vendorData %}
                                            <option value="{{i.vendor_id}}" {% if productRecieveDataEdit.vendorId.vendor_id == i.vendor_id %} style="display:none" {% endif %}>{{ i.vendor_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product Type</label>
                                    <select class="form-control form-select" name="product_type_id"  required>
                                        <option  disabled  >------- Select Product Type -------</option>
                                        <option value="{{productRecieveDataEdit.product_typeId.product_type_id}}">{{productRecieveDataEdit.product_typeId}}</option>
                                        {% for i in productTypesData %}
                                            <option value="{{i.product_type_id}}" {% if productRecieveDataEdit.product_typeId.product_type_id == i.product_type_id %} style="display:none" {% endif %}>{{ i.product_type }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Products</label>
                                    <select class="form-control form-select" name="product_id" value="{{productRecieveDataEdit}}" required>
                                        <option  disabled >------- Select Product -------</option>
                                        <option value="{{productRecieveDataEdit.productId.product_id}}">{{productRecieveDataEdit.productId}}</option>
                                        {% for i in productMasterData %}
                                            <option value="{{ i.product_id }}" {% if productRecieveDataEdit.productId.product_id == i.product_id %} style="display:none" {% endif %}>{{ i.product_name }}</option>
                                        {% endfor %}
                                    </select>
                                    
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Paper Rate</label>
                                    <input type="text" class="form-control" name="paper_rate" value="{{productRecieveDataEdit.paper_rate}}" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Received Quantity</label>
                                    <input type="text" class="form-control" name="received_quantity" value="{{productRecieveDataEdit.recieved_quantity}}" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Received Weight</label>
                                    <input type="text" class="form-control" name="received_weight" value="{{productRecieveDataEdit.recieved_weight}}" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Daily Rate</label>
                                    <input type="text" class="form-control" name="received_daily_rate" value="{{productRecieveDataEdit.daily_rate}}" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>TCS Rate</label>
                                    <input type="text" class="form-control" name="received_tcs_rate" value="{{productRecieveDataEdit.tcs_rate}}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>TCS value</label>
                                    <input type="text" class="form-control" name="received_tcs_value" value="{{productRecieveDataEdit.tcs_value}}" required>
                                </div>
                            </div>

                            
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="text" class="form-control" name="amount" value="{{productRecieveDataEdit.amount}}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Received Amount</label>
                                    <input type="text" class="form-control" name="received_amount" value="{{productRecieveDataEdit.recieved_amount}}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Vehicle Owner Name</label>
                                    <select class="form-control form-select" name="vehicle_id" value="{{productRecieveDataEdit}}" required>
                                        <option  disabled >------- Select Owner Vehicle -------</option>
                                        <option value="{{productRecieveDataEdit.vehicleId.vehicle_id}}">{{productRecieveDataEdit.vehicleId}}</option>
                                        {% for i in vehicleData %}
                                            <option value="{{i.vehicle_id}}" {% if productRecieveDataEdit.vehicleId.vehicle_id == i.vehicle_id %} style="display:none" {% endif %}>{{ i.owner_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Driver Name</label>
                                    <select class="form-control form-select" name="driver_id" value="{{productRecieveDataEdit}}" required>
                                        <option  disabled >------- Select Driver Name -------</option>
                                        <option value="{{productRecieveDataEdit.driverId.id}}">{{productRecieveDataEdit.driverId}}</option>
                                        {% for i in userModelData %}
                                            <option value="{{i.id}}" {% if productRecieveDataEdit.driverId.id == i.id %} style="display:none" {% endif %}>{{ i.first_name }} {{ i.last_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Source Vehicle Id</label>
                                    <input type="text" class="form-control" name="source_vehicle_id" value="{{productRecieveDataEdit.source_vehicle_id}}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Source Driver Id</label>
                                    <input type="text" class="form-control" name="source_driver_id" value="{{productRecieveDataEdit.source_driver_id}}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Challan No.</label>
                                    <input type="text" class="form-control" name="challan_no" value="{{productRecieveDataEdit.challan_no}}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Entry Source</label>
                                    <input type="text" class="form-control" name="entry_source" value="{{productRecieveDataEdit.entry_source}}" required>
                                </div>
                            </div>


                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Latitude</label>
                                    <input type="text" class="form-control" name="latitude" value="{{productRecieveDataEdit.latitude}}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Longitude</label>
                                    <input type="text" class="form-control" name="longitude" value="{{productRecieveDataEdit.longtitude}}" required>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Edit Details</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}