{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Shop Balance</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Shops</a></li>
                    <li class="breadcrumb-item active">Add Shop Balance</li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'shop_balance_add' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Shop Balance Details</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Name</label>
                                    <select class="form-control form-select" name="shop_id" required>
                                        <option value="" disabled selected hidden>------- Select Shop Name -------</option>
                                        {% for i in shopModelData %}
                                            <option value="{{i.shop_id}}">{{ i.shop_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Balance Date</label>
                                    <input type="date" class="form-control" name="balance_date" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Balance</label>
                                    <input type="text" class="form-control" name="balance" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Active</label>
                                    <select class="form-control form-select" placeholder="Enter Status" name="status" required>
                                        <option>Status...</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Adjustment Amount</label>
                                    <input type="text" class="form-control" name="adjustment_amount" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Adjustment Remark</label>
                                    <input type="text" class="form-control" name="adjustment_remark" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add Shop Balance</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}