{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Shop</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Shops</a></li>
                    <li class="breadcrumb-item active">Add Shop</li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'shop_add' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Shop Details</span></h5>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Code</label>
                                    <input type="text" class="form-control" name="shop_code" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Name</label>
                                    <input type="text" class="form-control" name="shop_name" required>
                                </div>
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Area</label>
                                    <select class="form-control form-select" placeholder="Enter Shop Area" name="shop_area" required>
                                        <option>------- Select Shop Area -------</option>
                                        <option value="area 1">area 1</option>
                                        <option value="area 2">area 2</option>
                                        <option value="area 3">area 3</option>
                                        <option value="area 4">area 4</option>
                                        <option value="area 5">area 5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Shop Latitude</label>
                                    <input type="text" class="form-control" name="shop_latitude" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Shop Longitude</label>
                                    <input type="text" class="form-control" name="shop_longitude" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Address</label>
                                    <input type="text" class="form-control" name="shop_address" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Shop Pincode</label>
                                    <input type="text" class="form-control" name="shop_pincode" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Shop Distance</label>
                                    <input type="text" class="form-control" name="shop_distance" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Mobile No</label>
                                    <input type="text" class="form-control" name="shop_mobileNo" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Alternate No</label>
                                    <input type="text" class="form-control" name="shop_alternateNo" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Owner Id</label>
                                    <select class="form-control form-select" name="shop_ownerId" required>
                                        <option>------- Select Owner Id -------</option>
                                        {% for i in shopOwnerData %}
                                            <option value="{{i.owner_id}}">{{ i.owner_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Type</label>
                                    <select class="form-control form-select" placeholder="Enter Shop Type" name="shop_type" required>
                                        <option>------- Select Shop Area -------</option>
                                        <option value="shop type 1">shop type 1</option>
                                        <option value="shop type 2">shop type 2</option>
                                        <option value="shop type 3">shop type 3</option>
                                        <option value="shop type 4">shop type 4</option>
                                        <option value="shop type 5">shop type 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Status</label>
                                    <select class="form-control form-select" placeholder="Enter Shop Area" name="shop_status" required>
                                        <option>Status...</option>
                                        <option value="Active">Active</option>
                                        <option value="In Active">In Active</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add Shop</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}