{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Vehicle Pollution Detail</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Vehicle Pollution</a></li>
                    <li class="breadcrumb-item active">Add Pollution Detail</li>
                </ul>
            </div>
        </div>
    </div>

    {% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'vehicle_pollution_add' vehicleData.first %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Vehicle Pollution Details</span></h5>
                            </div>


                            {% comment %} <div class="col-12 col-sm-6 mb-3">
                                <label>Vehicle Id</label>
                                <div class="input-group">
                                    <select class="form-control form-select" placeholder=""
                                        name="vehicle_id" required>
                                        <option value="" disabled selected>------- Select Vehicle Id -------</option>
                                        {% for i in vehicleData %}
                                        <option value="{{i.vehicle_id}}">{{ i.vehicle_id }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div> {% endcomment %}
                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-3"> <!-- Added mb-3 class for bottom margin -->
                                    <label class="mb-2">Vehicle ID</label> <!-- Added mb-2 class for bottom margin -->
                                    <input type="text" class="form-control" name="vehicle_id" value="{{vehicleId}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-3"> <!-- Added mb-3 class for bottom margin -->
                                    <label class="mb-2">Vehicle Pollution From Date</label> <!-- Added mb-2 class for bottom margin -->
                                    <input type="date" class="form-control" name="vehicle_pollution_from_Date" required>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-3"> <!-- Added mb-3 class for bottom margin -->
                                    <label class="mb-2">Vehicle Pollution To Date</label> <!-- Added mb-2 class for bottom margin -->
                                    <input type="date" class="form-control" name="vehicle_pollution_to_Date" required>
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Pollution Value</label>
                                    <input type="text" class="form-control" name="vehicle_pollution_value" placeholder="Enter vehicle pollution value" required>
                                </div>
                            </div>          
                            
                            
                            <div class="col-12"> 
                                <button type="submit" class="btn btn-primary"> Add Details </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}