{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Vehicle Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Vehicles</a></li>
                    <li class="breadcrumb-item active">Edit Vehicle</li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'vehicle_detail_update' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Vehicle Details</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Id</label>
                                    <input type="text" class="form-control" name="vehicle_id" value="{{vehicleDetailEdit.vehicle_id}}" readonly>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Registration No.</label>
                                    <input type="text" class="form-control" name="registration_no" value="{{vehicleDetailEdit.registration_no}}" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Owner Name</label>
                                    <input type="text" class="form-control" name="owner_name" value="{{vehicleDetailEdit.owner_name}}" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Make</label>
                                    <select class="form-control form-select" placeholder="Enter Vehicle Make" name="vehicle_make_Id"  required>
                                        <option disabled>------- Select Vehicle Make By -------</option>
                                        <option value="{{vehicleDetailEdit.vehicle_make_Id.vehicle_make_id}}">{{vehicleDetailEdit.vehicle_make_Id}}</option>
                                        {% for i in vehicleMakeByData %}
                                        <option value="{{i.vehicle_make_id}}" {% if vehicleDetailEdit.vehicle_make_Id.vehicle_make_id == i.vehicle_make_id %} style="display:none" {% endif %}>{{i.vehicle_make_by}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Model</label>
                                    <select class="form-control form-select" placeholder="Enter Vehicle Model" name="vehicle_model_Id"  required>
                                        <option disabled>------- Select Vehicle Model -------</option>
                                        <option value="{{vehicleDetailEdit.vehicle_model.vehicle_model_id}}">{{vehicleDetailEdit.vehicle_model}}</option>
                                        {% for i in vehicleModelyData %}
                                        <option value="{{i.vehicle_model_id}}" {% if vehicleDetailEdit.vehicle_model.vehicle_model_id == i.vehicle_model_id %} style="display:none" {% endif %}>{{i.vehicle_model}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Type</label>
                                    <select class="form-control form-select" placeholder="Enter Vehicle Type" name="vehicle_type_Id"  required>
                                        <option disabled>------- Select Vehicle Type -------</option>
                                        <option value="{{vehicleDetailEdit.vehicle_type.vehicle_type_id}}">{{vehicleDetailEdit.vehicle_type}}</option>
                                        {% for i in vehicleTypeData %}
                                        <option value="{{i.vehicle_type_id}}" {% if vehicleDetailEdit.vehicle_type.vehicle_type_id == i.vehicle_type_id %} style="display:none" {% endif %}>{{i.vehicle_type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Details</label>
                                    <input type="text" class="form-control" name="vehicle_details" value="{{vehicleDetailEdit.vehicle_details}}" required>
                                </div>
                            </div>
                          
                           
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Fuel Type</label>
                                    <select class="form-control form-select" placeholder="Enter Fuel Type" name="fuel_type"  required>
                                        <option disabled>------- Select Fuel Type -------</option>
                                        <option value="{{vehicleDetailEdit.fuel_type}}">{{vehicleDetailEdit.fuel_type}}</option>
                                        <option value="Diesel" {% if vehicleDetailEdit.fuel_type == "Diesel" %} style="display: none;" {% endif %}>Diesel</option>
                                        <option value="Petrol" {% if vehicleDetailEdit.fuel_type == "Petrol" %} style="display: none;" {% endif %}>Petrol</option>
                                        <option value="CNG" {% if vehicleDetailEdit.fuel_type == "CNG" %} style="display: none;" {% endif %}>CNG</option>
                                        <option value="Battery" {% if vehicleDetailEdit.fuel_type == "Battery" %} style="display: none;" {% endif %}>Battery</option>
                                        <option value="LPG" {% if vehicleDetailEdit.fuel_type == "LPG" %} style="display: none;" {% endif %}>LPG</option>
                                    
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>No Of Wheel</label>
                                    <select class="form-control form-select" placeholder="Enter No Of Wheel" name="no_of_wheel"  required>
                                        <option disabled>------- Select No Of Wheel -------</option>
                                        <option value="{{vehicleDetailEdit.no_of_wheel}}">{{vehicleDetailEdit.no_of_wheel}} Wheeler</option>
                                        <option value="2" {% if vehicleDetailEdit.no_of_wheel == 2 %} style="display: none;" {% endif %}>2 Wheeler</option>
                                        <option value="3" {% if vehicleDetailEdit.no_of_wheel == 3 %} style="display: none;" {% endif %}>3 Wheeler</option>
                                        <option value="4" {% if vehicleDetailEdit.no_of_wheel == 4 %} style="display: none;" {% endif %}>4 Wheeler</option>
                                        <option value="6" {% if vehicleDetailEdit.no_of_wheel == 6 %} style="display: none;" {% endif %}>6 Wheeler</option>
                                    
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Carrier Type</label>
                                    <select class="form-control form-select" placeholder="Enter Carrier Type" name="carrier_type"  required>
                                        <option disabled>------- Select Carrier Type -------</option>
                                        <option value="{{vehicleDetailEdit.carrier_type}}">{{vehicleDetailEdit.carrier_type}}</option>
                                        <option value="Birds" {% if vehicleDetailEdit.carrier_type == "Birds" %} style="display: none;" {% endif %}>Birds</option>
                                        <option value="Eggs" {% if vehicleDetailEdit.carrier_type == "Eggs" %} style="display: none;" {% endif %}>Eggs</option>
                                        <option value="Open" {% if vehicleDetailEdit.carrier_type == "Open" %} style="display: none;" {% endif %}>Open</option>
                                        <option value="Metal Cover Box With Door" {% if vehicleDetailEdit.carrier_type == "Metal Cover Box With Door" %} style="display: none;" {% endif %}>Metal Cover Box With Door</option>
                                        <option value="Cloth Cover Box" {% if vehicleDetailEdit.carrier_type == "Cloth Cover Box" %} style="display: none;" {% endif %}>Cloth Cover Box</option>
                                    
                                    </select>
                                </div>
                            </div>

                            
                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Registration Date</label>
                                    <input type="date" class="form-control" name="registration_date" value="{% if vehicleDetailEdit.registration_date %}{{ vehicleDetailEdit.registration_date|date:'Y-m-d' }}{% endif %}" required>
                                </div>
                            </div>
                            

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update Vehicle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}