{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Vehicle Tax Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Vehicles</a></li>
                    <li class="breadcrumb-item active">Vehicle Tax</li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'vehicle_tax_update' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Vehicle Tax Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Id</label>
                                    <input type="text" class="form-control" name="vehicle_id" value="{{vehicleDetailEdit.vehicle_id}}" readonly>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Owner Name</label>
                                    <input type="text" class="form-control" name="owner_name" value="{{vehicleDetailEdit.owner_name}}" readonly>
                                </div>
                            </div>       

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Tax Id</label>
                                    <input type="text" class="form-control" name="tax_id" value="{{vehicleTaxData.tax_id}}" readonly>
                                </div>
                            </div>     
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Tax Types</label>
                                    <select class="form-control form-select" placeholder="Enter Owner Id" name="vehicle_tax_type" required>
                                        {% for taxType in vehicleTaxTypes %}
                                            <option value="{{ taxType }}" {% if vehicleTaxData.vehicle_tax_type == taxType %} selected {% endif %}>
                                                {{ taxType }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>         
                        <div class="row"> 
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Tax From Date</label>
                                    <input type="date" class="form-control" name="vehicle_tax_from_Date" value="{% if vehicleTaxData.vehicle_tax_from_Date %}{{ vehicleTaxData.vehicle_tax_from_Date|date:'Y-m-d' }}{% endif %}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Tax To Date</label>
                                    <input type="date" class="form-control" name="vehicle_tax_to_Date" value="{% if vehicleTaxData.vehicle_tax_to_Date %}{{ vehicleTaxData.vehicle_tax_to_Date|date:'Y-m-d' }}{% endif %}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Environment Tax</label>
                                    <input type="text" class="form-control" name="vehicle_environment_tax" value="{{vehicleTaxData.vehicle_environment_tax}}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Professional Tax</label>
                                    <input type="text" class="form-control" name="vehicle_professional_tax" value="{{vehicleTaxData.vehicle_professional_tax}}" required>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update Details</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}