{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Vehicle Permit Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Vehicles</a></li>
                    <li class="breadcrumb-item active">Vehicle Permit</li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'vehicle_permit_update' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Vehicle Permit Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Id</label>
                                    <input type="text" class="form-control" name="vehicle_id" value="{{vehicleDetailEdit.vehicle_id}}" readonly>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Permit Id</label>
                                    <input type="text" class="form-control" name="permit_id" value="{{vehiclePermitData.permit_id}}" readonly>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Owner Name</label>
                                    <input type="text" class="form-control" name="owner_name" value="{{vehicleDetailEdit.owner_name}}" readonly>
                                </div>
                            </div>                       

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Vehicle Permit From Date</label>
                                    <input type="date" class="form-control" name="vehicle_permit_from_Date" value="{% if vehiclePermitData.vehicle_permit_from_Date %}{{ vehiclePermitData.vehicle_permit_from_Date|date:'Y-m-d' }}{% endif %}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Vehicle Permit To Date</label>
                                    <input type="date" class="form-control" name="vehicle_permit_to_Date" value="{% if vehiclePermitData.vehicle_permit_to_Date %}{{ vehiclePermitData.vehicle_permit_to_Date|date:'Y-m-d' }}{% endif %}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="permit_type">Permit Type</label>
                                    <select class="form-control form-select" name="permit_type" id="permit_type" required>
                                        <option value="" disabled selected>------- Select Permit Type -------</option>
                                        {% for permit in TypeOfPermit %}
                                            <option value="{{ permit }}">{{ permit }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Vehicle Permit No.</label>
                                    <input type="text" class="form-control" name="vehicle_permit_id" value="{{vehiclePermitData.vehicle_permit_id}}" required>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update Details</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}