{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Vehicles</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Vehicles</li>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">

                <a href="{% url 'vehicle_detail_add' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>

    {% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table mb-5">
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="table_id" class="table table-hover table-center mb-0  no-footer"
                                        id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="ID: activate to sort column descending"
                                                    style="width: 50.5px;">Sr.No</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Name: activate to sort column ascending"
                                                    style="width: 13.4px;">Registration No</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Class: activate to sort column ascending"
                                                    style="width: 140.7px;">Owner Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 100.025px;">Vehicle Make Id</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 56.025px;">Vehicle Model</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 36.025px;">Vehicle Type</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 56.025px;">Vehicle Details</th>
                                                
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">Fuel Type</th>

                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">No of Wheel</th>
                                                
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">Carrier Type</th>
                                                
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">Registration Date</th>
                                                
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">Fitness</th>

                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">Insurance</th>


                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">Permit</th>

                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">Pollution</th>

                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Gender: activate to sort column ascending"
                                                    style="width: 20.025px;">Tax</th>

                                                <th class="text-right sorting" tabindex="0"
                                                    aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                    aria-label="Action: activate to sort column ascending"
                                                    style="width: 54.7px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for vehicle in vehicleDetailList %}

                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{{forloop.counter}}</td>

                                                <td>{{vehicle.registration_no}}</td>
                                                <td>{{vehicle.owner_name}}</td>
                                                <td>{{vehicle.vehicle_make_Id}}</td>
                                                
                                                <td>{{vehicle.vehicle_model}}</td>
                                                
                                                <td>{{vehicle.vehicle_type}}</td>
                                                
                                                <td>{{vehicle.vehicle_details}}</td>
                                                
                                                <td>{{vehicle.fuel_type}}</td>
                                                <td>{{vehicle.no_of_wheel}}</td>
                                                <td>{{vehicle.carrier_type}}</td>
                                                
                                                <td>{{vehicle.registration_date}}</td>

                                                
                                                <td>
                                                    <div class="actions">
                                                        <a href="{% url 'vehicle_fitness_add' vehicle.vehicle_id %}"
                                                            class="btn btn-warning btn-sm ms-2">
                                                            <i title="Vehicle Fitness Add" class="fa fa-medkit" data-bs-toggle="tooltip"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="actions">
                                                        <a href="{% url 'vehicle_insurance_add' vehicle.vehicle_id %}"
                                                            class="btn btn-warning btn-sm ms-2">
                                                            <i title="Vehicle Insurance Add" class="fa-solid fa-hands-holding" data-bs-toggle="tooltip"></i>                                                  
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="actions">
                                                        <a href="{% url 'vehicle_permit_add' vehicle.vehicle_id %}"
                                                            class="btn btn-warning btn-sm ms-2">
                                                            <i title="Vehicle Permit Add" class="fa-solid fa-list-check" data-bs-toggle="tooltip"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="actions">
                                                        <a href="{% url 'vehicle_pollution_add' vehicle.vehicle_id %}"
                                                            class="btn btn-warning btn-sm ms-2">
                                                            <i title="Vehicle Pollution Add" class="fa fa-industry" data-bs-toggle="tooltip"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="actions">
                                                        <a href="{% url 'vehicle_tax_add' vehicle.vehicle_id %}"
                                                            class="btn btn-warning btn-sm ms-2">
                                                            <i title="Vehicle Tax Add" class="fa-solid fa-landmark" data-bs-toggle="tooltip"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <div class="actions">
                                                        <a href="{% url 'vehicle_detail_edit' vehicle.vehicle_id %}"
                                                            class="btn btn-warning btn-sm ms-2">
                                                            <i class="fas fa-pen"></i>
                                                        </a>

                                                        <a href="{% url 'show_vehicle_details' vehicle.vehicle_id %}"
                                                        class="btn btn-warning btn-sm ms-2">
                                                        <i title="View Vehicle Details" class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top"></i>

                                                        </a>

                                                        <a href=""  onclick="return confirm('Are you sure you want to delete this?')"
                                                            class="btn btn-danger btn-sm ms-2">
                                                            <i class="fas fa-trash"></i>
                                                        </a>

                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}