{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Vehicle Fitness Details</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Vehicles</a></li>
                    <li class="breadcrumb-item active">Vehicle Finess</li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'vehicle_fitness_detail_update' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Vehicle Fitness Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Vehicle Id</label>
                                    <input type="text" class="form-control" name="vehicle_id" value="{{vehicleDetailEdit.vehicle_id}}" readonly>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Owner Name</label>
                                    <input type="text" class="form-control" name="owner_name" value="{{vehicleDetailEdit.owner_name}}" readonly>
                                </div>
                            </div>

          

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Fitness Id</label>
                                    <input type="text" class="form-control" name="fitness_id" value="{{vehicleFitnessData.fitness_id}}" readonly>
                                </div>
                            </div>            

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Vehicle Fitness From Date</label>
                                    <input type="date" class="form-control" name="vehicle_fitness_from_date" value="{% if vehicleFitnessData.vehicle_fitness_from_date %}{{ vehicleFitnessData.vehicle_fitness_from_date|date:'Y-m-d' }}{% endif %}" required>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3">
                                <div class="form-group">
                                    <label>Vehicle Fitness To Date</label>
                                    <input type="date" class="form-control" name="vehicle_fitness_to_date" value="{% if vehicleFitnessData.vehicle_fitness_to_date %}{{ vehicleFitnessData.vehicle_fitness_to_date|date:'Y-m-d' }}{% endif %}" required>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update Details</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}