{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Product Rate Edit </h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Product Rate</a></li>
                    <li class="breadcrumb-item active">Edit </li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'product_rate_update' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Product Rate Details</span></h5>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product Rate Id</label>
                                    <input type="text" class="form-control" name="product_rate" placeholder="Enter Rate Margin" value="{{productRateEdit.shop_product_rates_id}}" readonly>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Name</label>
                                    <select class="form-control form-select" name="shop_codeId" required>
                                        <option disabled>------- Select Shop Name -------</option>
                                        <option value="{{productRateEdit.shopId.shop_id}}">{{productRateEdit.shopId}}</option>
                                        {% for i in shopModalData %}
                                            <option value="{{i.shop_id}}" {% if productRateEdit.shopId.shop_id == i.shop_id %} style="display:none" {% endif %}>{{ i.shop_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Association </label>
                                    <select class="form-control form-select" name="associationId" required>
                                        <option disabled>------- Select Association -------</option>
                                        <option value="{{productRateEdit.associationId.association_id}}">{{productRateEdit.associationId}}</option>
                                        {% for i in associationsData %}
                                            <option value="{{i.association_id}}" {% if productRateEdit.associationId.association_id == i.association_id %} style="display:none" {% endif %}>{{ i.association_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product</label>
                                    <select class="form-control form-select" name="productId" required>
                                        <option disabled>------- Select Product -------</option>
                                        <option value="{{productRateEdit.ProductId.product_id}}">{{productRateEdit.ProductId}}</option>
                                        {% for i in productData %}
                                            <option value="{{i.product_id}}" {% if productRateEdit.ProductId.product_id == i.product_id %} style="display:none" {% endif %}>{{ i.product_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Rate Margin</label>
                                    <input type="text" class="form-control" name="rate_margin" placeholder="Enter Rate Margin" value="{{productRateEdit.rate_margin}}" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Rate Flexible</label>
                                    <select class="form-control form-select" placeholder="Enter Flexible Rate" name="flexible_rate" required>
                                        <option disabled>------- Select -------</option>
                                        <option value="{{productRateEdit.flexible_yn}}">{{productRateEdit.flexible_yn}}</option>
                                        <option value="Yes"{% if productRateEdit.flexible_yn == "Yes" %} style="display: none;" {% endif %}>Yes</option>
                                        <option value="No"{% if productRateEdit.flexible_yn == "No" %} style="display: none;" {% endif %}>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Flexible Formula</label>
                                    <input type="text" class="form-control" name="flexible_formula" placeholder="Enter Flexible Formula" value="{{productRateEdit.flexible_formula}}" required>
                                </div>
                            </div>
                            
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-primary">Edit Product Rate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}