{% extends "base.html" %}

{% block content %}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Product Rate Add </h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Product Rate</a></li>
                    <li class="breadcrumb-item active">Add </li>
                </ul>
            </div>
        </div>
    </div>

{% include "includes/message.html" %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'product_rate_add' %}" method="POST" >
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-12">
                                <h5 class="form-title"><span>Product Rate Details</span></h5>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Shop Name</label>
                                    <select class="form-control form-select" name="shop_codeId" required>
                                        <option>------- Select Shop Name -------</option>
                                        {% for i in shopModelData %}
                                            <option value="{{i.shop_id}}">{{ i.shop_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Association </label>
                                    <select class="form-control form-select" name="associationId" required>
                                        <option>------- Select Association -------</option>
                                        {% for i in associationData %}
                                            <option value="{{i.association_id}}">{{ i.association_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Product</label>
                                    <select class="form-control form-select" name="productId" required>
                                        <option>------- Select Product -------</option>
                                        {% for i in productMasterData %}
                                            <option value="{{i.product_id}}">{{ i.product_name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Rate Margin</label>
                                    <input type="text" class="form-control" name="rate_margin" placeholder="Enter Rate Margin" required>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Rate Flexible</label>
                                    <select class="form-control form-select" placeholder="Enter Flexible Rate" name="flexible_rate" required>
                                        <option>------- Select -------</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Flexible Formula</label>
                                    <input type="text" class="form-control" name="flexible_formula" placeholder="Enter Flexible Formula" required>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add Product Rate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}